<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.offlinequiz">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OfflineQuiz"
        tools:targetApi="31">
        <activity
            android:name=".LearnScalesEasy"
            android:exported="false" />
        <activity
            android:name=".Info"
            android:exported="false" />
        <activity
            android:name=".LearnScalesMedium"
            android:exported="false" />
        <activity
            android:name=".SetGoals"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetName"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizResults"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnScales"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LearnRhythm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizScales"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizRhythm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Stats"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QuizSelect"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Topics"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>